*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.title{
  margin-top:16px;
  margin-bottom:16px;
}

.field{
  margin-bottom:10px;
}

.book-title{
  display:block;
}

.book-body{
  display:block;
}